:host {
  .container{
    float: left;
    z-index: 1;
    background-color: white;
    margin-top: 20px;
    margin-left: 20px;
    width: 330px;
    height: calc(100% - 55px);
    top: 0;
    bottom: 0;
    position: absolute;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .toogle {
      float: right;
      font-size: 14px;
      margin: 7px;
    }
    .list {
      overflow-y: scroll;
      overflow-x: hidden;
      height: calc(100% - 70px);
      box-shadow: inset 0 14px 10px -10px rgba(60, 64, 67, 0.28);
    }
    @media screen and (max-width: 750px) {
      height: 400px;
      left: 50%;
      margin-left: -250px;
      margin-top: 5px;
      max-width: 500px;
    }

    @media screen and (max-width: 520px) {
      width: calc(100% - 10px);
      left: initial;
      margin-left: 5px;
    }
  }
  .no-events-text {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
}
